{#
/**
 * @file
 * Default theme implementation for a node edit form.
 *
 * Two column template for the node add/edit form.
 *
 * This template will be used when a node edit form specifies 'node_edit_form'
 * as its #theme callback.  Otherwise, by default, node add/edit forms will be
 * themed by form.html.twig.
 *
 * Available variables:
 * - form: The node add/edit form.
 *
 * @see seven_form_node_form_alter()
 *
 * @ingroup themeable
 */
#}
{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_id }}





<div class="add-article">
    <div class="row article-row node-type">
        <div class="col-md-3">
		    <div class="border-top border-mg-right">
				<h4>{{ form.field_topic_type.widget['#title'] }}</h4>
				<p><small>{{ form.field_topic_type.widget['#description'] }}</small></p>
			</div>
        </div>
        <div class="col-md-9 field-checkboxes field-checkboxes-type">
            {{ form.field_topic_type.widget }}
        </div>
    </div>
    <div class="row article-row">
        <div class="col-md-3">
			<div class="border-top border-mg-right">
				<h4>{{ form.title.widget['#title'] }}</h4>
				<p><small>{{ form.field_except.widget['#description'] }}</small></p>
			</div>
        </div>
        <div class="col-md-9">
            <div class="form-widget">{{ form.title }}</div>
            <div class="form-widget">{{ form.field_except.widget }}</div>
        </div>
    </div>
    <div class="row article-row">
        <div class="col-md-3">
			<div class="border-top border-mg-right">
				<h4>{{ form.field_topic_image.widget[0]['#title'] }}</h4>
				<div class="image-help-text"><p><small>{{ form.field_topic_image.widget[0]['#description'] }}</small></p></div>
			</div>
        </div>
        <div class="col-md-9 feature-image-edit">
            {{ form.field_topic_image.widget }}
        </div>
    </div>
    <div class="row article-row">
        <div class="col-md-3">
            <div class="border-top border-mg-right">
                {#{{ vardumper(form.field_crop_position) }}#}
                <h4>{{ form.field_crop_position.widget['#title'] }}</h4>
                <div class="image-help-text"><p><small>{{ form.field_crop_position.widget[0]['#description'] }}</small></p></div>
            </div>
        </div>
        <div class="col-md-9 field-checkboxes feature-image-edit">
            {{ form.field_crop_position.widget }}
        </div>
    </div>
    <div class="row article-row">
        <div class="col-md-3">
			<div class="border-top border-mg-right">
				<h4>{{ form.body.widget['#title'] }}</h4>
				<p><small>{{ form.body.widget['#description'] }}</small></p>
			</div>
        </div>
        <div class="col-md-9 field-checkboxes">
            {{ form.body.widget }}
        </div>
    </div>
    <div class="row article-row">
        <div class="col-md-3">
			<div class="border-top border-mg-right">
				<h4>{{ form.field_image_gallery.widget['#title'] }}</h4>
				<p><small>{{ form.field_image_gallery.widget['#description'] }}</small></p>
			</div>
        </div>
        <div class="col-md-9 field-checkboxes">
            {{ form.field_image_gallery.widget }}
        </div>
    </div>
    <div class="row article-row">
        <div class="col-md-3">
			<div class="border-top border-mg-right">
				<h4>{{ form.field_tags.widget['#title'] }}</h4>
				<p><small>{{ form.field_tags.widget['#description'] }}</small></p>
			</div>
        </div>
        <div class="col-md-9 field-checkboxes">
            {{ form.field_tags.widget }}
        </div>
    </div>
    <div class="row article-row">
        <div class="col-md-3">
            <div class="border-top border-mg-right">
				<h4>{{ form.field_files.widget['#title'] }}</h4>
				<p><small>{{ form.field_files.widget['#description'] }}</small></p>
			</div>
		</div>

        <div class="col-md-9 field-files-uploads">
            {{ form.field_files.widget }}
        </div>
    </div>
    <div class="row article-row">
        <div class="col-md-3">
			<div class="border-top border-mg-right">
				<h4>{{ form.field_content_visibility.widget['#title'] }}</h4>
				<p><small>{{ form.field_content_visibility.widget['#description'] }}</small></p>
			</div>
        </div>
        <div class="col-md-9 field-checkboxes-visibility">
            {{ form.field_content_visibility.widget }}
        </div>
    </div>

{% if form.admin_access is not empty  %}
	   <div class="row article-row">
        <div class="col-md-3">
            <div class="border-top border-mg-right">
                {#{{ vardumper(form.field_promoted_to_landing_page) }}#}
                <h4>{{ form.field_promoted_to_landing_page.widget['#title'] }}</h4>
                <p><small>{{ form.field_promoted_to_landing_page.widget['#description'] }}</small></p>
            </div>
        </div>
        <div class="col-md-9 field-checkboxes field-checkboxes-visibility">
            {{ form.field_promoted_to_landing_page.widget }}
        </div>
    </div>
	{% endif %}
{% if form.admin_access is not empty  %}
	    <div class="row article-row">
        <div class="col-md-3">
            <div class="border-top border-mg-right">
                {#{{ vardumper(form.field_view_mode) }}#}
                <h4>{{ form.field_view_mode.widget['#title'] }}</h4>
                <p><small>{{ form.field_view_mode.widget['#description'] }}</small></p>
            </div>
        </div>
        <div class="col-md-9 field-checkboxes field-checkboxes-visibility">
            {{ form.field_view_mode.widget }}
        </div>
    </div>
{% endif %}
        <div class="row article-row path-auto">
            <div class="col-md-3">
                <div class="border-top border-mg-right">
                    <h4>{{ form.path.widget['#title'] }}</h4>
                    <p><small>{{ form.path.widget['#description'] }}</small></p>
                </div>
            </div>
            <div class="col-md-9 field-checkboxes-visibility">
				{{ form.path.widget.0.pathauto }}			
                {{ form.path.widget.0.alias }}              
            </div>
        </div>


    {% if form.admin_access is not empty  %}
        <div class="row article-row">
            <div class="col-md-3">
                <div class="border-top border-mg-right">
                    {#{{ vardumper(form.field_view_mode) }}#}
                    <h4>{{ form.field_sticky_top_of_lists.widget['#title'] }}</h4>
                    <p><small>{{ form.field_sticky_top_of_lists.widget['#description'] }}</small></p>
                </div>
            </div>
            <div class="col-md-9 field-checkboxes field-checkboxes-visibility">
                {{ form.field_sticky_top_of_lists.widget }}
            </div>
        </div>

    {% endif %}

    <div class="row article-row">
        <div class="col-md-3">
            <div class="border-top border-mg-right">
                <h4>{{ form.status.widget['#title'] }}</h4>
                <p><small>{{ form.status.widget['#description'] }}</small></p>
            </div>
        </div>
        <div class="col-md-9 field-checkboxes-visibility">
            {{ form.status.widget }}
        </div>
    </div>
	{% if form.admin_access is not empty  %}
		<div class="row article-row">
			<div class="col-md-3">
				<div class="border-top border-mg-right">
					<h4>{{ form.field_promoted_to_landing_slide.widget['#title'] }}</h4>
					<p><small>{{ form.field_promoted_to_landing_slide.widget['#description'] }}</small></p>
				</div>
			</div>
			<div class="col-md-9 field-checkboxes-visibility">
				{{ form.field_promoted_to_landing_slide.widget }}
			</div>
		</div>
	{% endif %}
</div>
<div class="row article-row">
	<div class="col-md-3 hidden-xs">
	</div>
	<div class="col-md-9">
		<div class="form-butns">
		    {{ form.actions }}
		</div>
	</div>
</div>


{{ form.path.widget }}


<div class="display-none">

</div>